body { background: #beffd1; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 35px; display: flex; }
.block-metrics-0 { color: #7f8f4e; font-size: 15px; margin-bottom: 5px; }
.block-filter-1 { color: #58d733; font-size: 13px; margin-bottom: 5px; }
.block-sms-2 { color: #d39c7b; font-size: 18px; margin-bottom: 5px; }
.block-cluster-3 { color: #54c3e6; font-size: 16px; margin-bottom: 5px; }
.block-user-4 { color: #e1028e; font-size: 16px; margin-bottom: 5px; }
.block-notify-5 { color: #f50949; font-size: 19px; margin-bottom: 5px; }